<!-- Navbar-->
<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header>
  <div class="container px-3">
    <%= link_to root_path, class: "navbar-brand me-3 me-xl-4" do %>
      <%= image_tag 'logo.png', class: "d-block" %>
    <% end %>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if rodauth.logged_in? %>
      <div class="order-lg-3 my-n2">
        <%= link_to edit_profile_path(current_account.profile), class: "d-block py-2"  do %>
          <%= image_tag 'noavatar.png', class: "rounded-circle border", width: "40" %>
        <% end %>
      </div>
    <% else %>
      <div class="order-lg-3 my-n2">
        <%= link_to rodauth.login_path, class: "btn btn-sm btn-outline-secondary px-2 py-1 d-flex align-items-center" do %>
          <i class="uil uil-signin me-2 fa-lg"></i>
          <%= image_tag 'noavatar.png', class: "rounded-circle border", width: "30" %>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
      </ul>
    </div>
  </div>
</header>
