<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{strip_tags(yield(:title))} – " if content_for?(:title) %>
      Ha Ho
    </title>
    <meta name="apple-mobile-web-app-title" content="Ha Ho">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
